.card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    height: 25rem;
    max-height: 100%;
  }
  .card:hover{
    box-shadow: 2rem,4rem,6rem,1rem rgba(rgb(5, 2, 2), rgb(4, 49, 4), rgb(6, 6, 71), .5) !important;
    transition: all 0.7s linear;
    overflow: hidden;
  }
  
  .card img {
    height: 20rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: all 0.4s ease-in-out;
    overflow: hidden;

  }
  .card img:hover{
    /* transform: scale(1.4); */

  }

  .card-body {
    background-color: #a1acb9;
    color: #ffffff;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 1.25rem;
  }
  