.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('path/to/your/hero-image.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  padding: 100px 0;
  text-align: center;
}
.product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}
#Navbar img{
  alt:"";
  width:"30";
  height:"30";
}
.carousel-item {
  height: 500px;
}
